<div class="login-page">
  <div class="overlay"></div>
  <div class="login-card">
    <h2 class="title">👤 Connectez-vous</h2>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <!-- Email -->
      <div class="form-group">
        <label for="email">Email</label>
        <div class="input-icon">
          <ion-icon name="mail-outline"></ion-icon>
          <input type="email" id="email" formControlName="email" placeholder="Entrez votre email" required />
        </div>
      </div>

      <!-- Mot de passe -->
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <div class="input-icon">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <input type="password" id="password" formControlName="password" placeholder="••••••••" required />
        </div>
      </div>

      <div class="register-link">
        <a [routerLink]="['/register-user']"> Créez un compte </a>
      </div>

      <button type="submit" class="ripple-btn" [disabled]="loginForm.invalid">
        Se connecter
      </button>

      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
    </form>

    <ion-button class="b-google" (click)="loginWithGoogle()">
  <ion-icon name="logo-google" slot="start"></ion-icon>
  Se connecter avec Google
</ion-button>
  </div>
</div>
