<!-- register-user.component.html -->
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center mb-4 text-primary">Inscription utilisateur</h2>
      <form [formGroup]="registerForm" (ngSubmit)="register()" novalidate>
        <div class="mb-3">
          <label for="nom" class="form-label">Nom</label>
          <input type="text" class="form-control" [class.is-invalid]="registerForm.get('nom')?.invalid && registerForm.get('nom')?.touched" id="nom" formControlName="nom" required>
          <div *ngIf="registerForm.get('nom')?.invalid && registerForm.get('nom')?.touched" class="invalid-feedback">
  Le nom est requis.
</div>

        </div>

        <div class="mb-3">
          <label for="prenom" class="form-label">Prénom</label>
          <input type="text" class="form-control"[class.is-invalid]="registerForm.get('prenom')?.invalid && registerForm.get('prenom')?.touched" id="prenom" formControlName="prenom" required>
          <div *ngIf="registerForm.get('prenom')?.invalid && registerForm.get('prenom')?.touched" class="invalid-feedback">
  Le prenom est requis.
</div>

        </div>

        <div class="mb-3">
          <label for="telephone" class="form-label">Téléphone</label>
          <input type="tel" class="form-control" [class.is-invalid]="registerForm.get('telephone')?.invalid && registerForm.get('telephone')?.touched" id="telephone" formControlName="telephone" required>
          <div *ngIf="registerForm.get('telephone')?.invalid && registerForm.get('telephone')?.touched" class="invalid-feedback">
  Le numero de telephone est requis.
</div>

        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" [class.is-invalid]="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" id="email" formControlName="email" required>
          <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="invalid-feedback">
  L'email est requis.
</div>

        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Mot de passe</label>
          <input type="password" class="form-control" [class.is-invalid]="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" id="password" formControlName="password" required>
          <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="invalid-feedback">
  Le mot de passe est requis.
</div>

        </div>

        <button type="submit" class="btn btn-primary w-100" [disabled]="registerForm.invalid">
          S'inscrire
        </button>


        <div *ngIf="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
          </div>
      </form>
    </div>
  </div>
</div>
