<div class="login-container">
  <div class="login-box">
    <h2> Connectez-vous</h2>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <!-- Email -->
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" required />
      </div>

      <!-- Mot de passe -->
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" formControlName="password" required />
      </div>

       <div>
         <a [routerLink]="['/register-driver']"> Creez un compte </a>
      </div><br>

      <!-- Bouton -->
      <button type="submit" [disabled]="loginForm.invalid || loading">
        Se connecter
      </button>

      <!-- Erreur -->
      <div class="error-message" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
    </form>
  </div>
</div>
