<div class="register-container">
  <div class="register-box">
    <h2>Partenaires</h2>

    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <div class="form-group">
        <label for="nom">Nom</label>
        <input type="text" id="nom" formControlName="nom" required />
      </div>

      <div class="form-group">
        <label for="prenom">Prénom</label>
        <input type="text" id="prenom" formControlName="prenom" required />
      </div>

      <div class="form-group">
        <label for="telephone">Téléphone</label>
        <input type="tel" id="telephone" formControlName="telephone" required />
      </div>

      <div class="form-group">
        <label for="ville">ville</label>
        <input type="text" id="ville" formControlName="ville" required />
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" required />
      </div>

      <ion-select formControlName="role" placeholder="Choisir un rôle">
  <ion-select-option value="chauffeur">Chauffeur</ion-select-option>
  <ion-select-option value="livreur">Livreur</ion-select-option>
  </ion-select>

    <ion-item>
      <ion-label position="floating">Matricule</ion-label>
      <ion-input formControlName="matricule"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Marque</ion-label>
      <ion-input formControlName="marque"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Couleur</ion-label>
      <ion-input formControlName="couleur"></ion-input>
    </ion-item>

      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" formControlName="password" required />
      </div>

        <div>
         <a [routerLink]="['/login-driver']"> Deja un compte ? </a> <br> <br>
      </div>

      <button type="submit" [disabled]="registerForm.invalid || loading">
        Créer un compte
      </button>

      <div class="error-message" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
    </form>
  </div>
</div>
