<ion-header>
  <ion-toolbar style="--background: #ff7f00; color: #fff;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Taxi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <!-- Carte Google -->
  <div id="map"></div>

  <!-- Formulaire en overlay -->
  <ion-card class="form-overlay">
    <ion-card-header>
      <ion-card-title style="color: #ff6600;">Commander un taxi</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="taxiForm" (ngSubmit)="onSubmit()">
        
        <!-- Champ départ -->
        <ion-item lines="full">
          <ion-icon name="locate-outline" slot="start"></ion-icon>
          <ion-input
            formControlName="depart"
            placeholder="Adresse de départ"
            [value]="taxiForm.get('depart')?.value"
            (ionInput)="searchPlace($event, 'depart')"
            (ionFocus)="selectedField = 'depart'"
            (ionBlur)="suggestions = []"
          ></ion-input>
        </ion-item>

        <!-- Suggestions départ -->
        <ion-list *ngIf="suggestions.length > 0 && selectedField === 'depart'">
          <ion-item *ngFor="let suggestion of suggestions" (click)="selectSuggestion(suggestion, 'depart')">
            {{ suggestion.description }}
          </ion-item>
        </ion-list>

        <!-- Champ destination -->
        <ion-item lines="full" class="ion-margin-top">
          <ion-icon name="flag-outline" slot="start"></ion-icon>
          <ion-input
            formControlName="destination"
            placeholder="Adresse de destination"
            [value]="taxiForm.get('destination')?.value"
            (ionInput)="searchPlace($event, 'destination')"
            (ionFocus)="selectedField = 'destination'"
            (ionBlur)="suggestions = []"
          ></ion-input>
        </ion-item>

        <!-- Suggestions destination -->
        <ion-list *ngIf="suggestions.length > 0 && selectedField === 'destination'">
          <ion-item *ngFor="let suggestion of suggestions" (mousedown)="selectSuggestion(suggestion, 'destination')">
            {{ suggestion.description }}
          </ion-item>
        </ion-list>

        <ion-button expand="block" color="warning" [disabled]="taxiForm.invalid" type="submit">
          Commander
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
