#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Formulaire overlay en bas */
.form-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 10px;
  border-radius: 18px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.2);
  z-index: 10;
}
