<ion-segment [(ngModel)]="filter" (ionChange)="applyFilter()">
  <ion-segment-button value="tous">Tous</ion-segment-button>
  <ion-segment-button value="acceptée">Acceptées</ion-segment-button>
  <ion-segment-button value="refusée">Refusées</ion-segment-button>
</ion-segment>

<ion-list>
  <ion-item *ngFor="let course of filteredCourses">
    <ion-label>
      <h5>{{ course.depart }} → {{ course.destination }}</h5>
      <p>{{ course.date | date:'short' }} -
        <strong [ngStyle]="{color: course.status === 'acceptée' ? 'green' : 'red'}">{{ course.status }}</strong>
      </p>
    </ion-label>
  </ion-item>
</ion-list>
